@use '../../../styles.scss' as *;

.portfolio {
    &__appbar-tab-selected {
        color: white !important;
        //background: red !important;
        border-color: white !important;
    }

    &__appbar-tabs-indicator {
        //color: black !important;
        background-color: white !important
    }

    &__appbar-tab-icon {
        height: 20px !important;
        width: 20px!important;
    }
} 
